body {
	padding: 0;
	margin: 0;
	overscroll-behavior: contain;
}

.nav-item {
	cursor: pointer;
	user-select: none;
	transition: ease-in 1s;
}

.dropdown-item {
	cursor: pointer;
	user-select: none;
}


#mostrar {
	width: 100%;
	height: 300px;
	padding-top: 20px;
}

#logotipop { 
	transition: all ease-out 0.3s;
	max-width: 350px;
	min-width: 80px;
}

#logotipop:hover {
	transform: scale(1.1);
}

#login {
	margin-top: 30px;
	max-width: 600px;
	width: 70%;
}


#contenido {
	overflow: auto;
	position: relative;
}

#search2 {
	padding: 15px;
}

.tarjeta {
	width: 100%;
	height: 140px;
	margin-left: 30px;
	margin-right: 0px;
	margin-top: 10px;
	background: linear-gradient(#0F80FF, #110066);
	color: white;
	transition: all ease-in 0.5s;
	border-radius: 15px;
	cursor: pointer;
	overflow: hidden;
	max-width: 300px;
	margin-bottom: 30px;
}

.tarjeta:hover {
	transform: translateY(0.1in);
	box-shadow: 3px 3px 3px gray;
	background: linear-gradient(yellow, green);
}

#elementos {
	width: 90%;
	position: relative;
	overflow: auto;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	min-height: 350px;
}

.logo {
	color: white;
	height: 130px;
	text-align: center;
	float: left;
	position: relative;
	overflow: hidden;
	padding: 15px;
	top: 18px;
	font-weight: 2.5em;
}


.titulo {
	color: white;
	font-size: 20px;
	text-align: center;
	position: relative;
	float: left;
	width: 35%;
	overflow: hidden;
	top:30px;
	margin-left: 5px;
}

.titulo2 {
	color: white;
	font-size: 2em;
	text-align: center;
	position: relative;
	float: left;
	width: 90%;
	overflow: hidden;
	top:15px;
	margin-left: 5px;
}

.contador {
	color: white;
	font-size: 3em;
	text-align: center;
	position: relative;
	float: left;
	width: 25%;
	overflow: hidden;
	top: 35px;
}

#logotipo {
	width: 15%;
}


.peque {
	font-size: 0.8em;
}


.formula {
	min-width: 200px !important;
}


/*
Estilos para la ventana de ventas

*/

/*Contenedor principal de ventas*/
#principal {
	position: relative;
	width: 100%;
	height:560px;
	overflow: auto;
}

#prodlist {
	height: 350px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 5px;
	overflow: auto;
}

#mensajes {
	height: 70px;
	font-size: 24px;
	border: 1px solid lightgray;
	border-radius: 5px;
	left: 10px;
	top: 10px;
}

#unidadesd {
	height: 50px;
	font-size: 18px;
	font-family: 'Lucida Sans';
	border-radius: 5px;
	left: 5px;
	top: 10px;
	text-align: center;
}

#unidades {
	background: maroon;
	color:white;
	font-size: 26px;
	text-align: right;
	user-select: none;
	font-weight:bold;
}

#totalv {
	background: maroon;
	color:white;
	font-size: 26px;
	text-align: right;
	user-select: none;
	font-weight:bold;
}

#logovta {
	max-width: 200px;
	width: 95%;
	height: 120px;
	margin-top: 25px;
}

#datosvta {
	width: 90%;
	height: 110px;
	margin-bottom: 15px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

#dusuario {
	margin-top: 15px;
	width: 95%;
	height: 35px;
	background: gray;
	position: relative;
	border-radius: 5px;
	color: white;
	padding-top: 5px;
}

.botonvta {
	height: 50px;
}

.ventat {
	font-size: 1.8em;
	font-weight: bold;
}

#escritos {
	font-size: 1.2em;
	font-weight: bold;
}

#listvta {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 15px;
	overflow: auto;

}

#listcorte {
	padding: 40px;
	max-width: 30%;
	background-color:lightskyblue;
	height: 600px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border-radius: 10px;
	max-width: 350px;
}

#subtotal {
	font-size: 1.8em;
}

#traspasoslist {
	border-radius: 5px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	padding: 20px;
}

#favoritos {
	width: 95%;
	height: 350px;
	overflow: auto;
}

.numerose {
	color:red !important;
}