<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">
                <i class="fa-duotone fa-cart-flatbed"></i> Entradas
            </h1>
        </div>
        <div class="col-md-6">
            <button class="btn btn-outline-danger btn-block" id="nentrada">
                <i class="fas fa-plus-circle"></i> Nuevo entrada
            </button>
        </div>
    </div>
    <hr class="display-4">
    <div class="container-fluid" id="listentradas">
    
    </div>
</div>
<br>
<br>
<br>
<br>
<script>
    $(document).ready( ( ) => {
        $('#listentradas').html('<div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>');
        $.ajax({
            type: 'POST',
            url: 'php/entradas.php',
            success:( res ) => {
                $('#listentradas').html(res);
            }
        });

        $('#nentrada').on('click', function() {
            $('#contenido').load('views/newentrada.php');
        });
    });
</script>