<h1 class="display-4">
    <i class="fas fa-feather-alt"></i> Registro
</h1>
<hr class="display-4">
<div class="form-group">
    <label for="desc">Descripción de la clasificación</label>
    <input type="text" id="desc" class="form-control">
</div>
<br>
<div class="alert alert-danger" role="alert" id="error" style="display: none;">

</div>
<br>
<button class="btn btn-outline-danger btn-block" id="gclasifica">
    <i class="fas fa-hdd"></i> Guardar datos
</button>

<script>
    $(document).ready( () => {
        $('#ventana').on('shown.bs.modal',  () => {
            $('#desc').focus();
        });

        $('#gclasifica').on('click', () => {
            let desc = $('#desc').val();
            let idu = localStorage.getItem('idu');
            if (desc != '') {
                $.ajax({
                    type: 'POST',
                    url: 'php/regclasifica.php',
                    data: '&idu=' + idu + '&desc=' + desc,
                    success:(res) => {
                        if (res == 1) {
                            $('#mensaje').html('Se ha registrado con exito');
                            $('#contenido').load('views/clasificaciones.html');
                        }else {
                            mostrar_error(res);
                        }
                    }
                });
            }else {
                mostrar_error('Debes introducir un nombre valido')
            }
        });
    });
</script>