<h1 class="display-4">
    <i class="fas fa-feather-alt"></i> Registro
    </h1>
    <hr class="display-4">
    <div class="alert alert-danger" role="alert" id="error" style="display: none;">

    </div>
    <div class="form-group">
        <label for="razon">Razón social</label>
        <input type="text" id="razon" class="form-control" placeholder="Escribe la razón social del proveedor">
    </div>   
    <div class="form-group">
        <label for="nombre">Nombre Completo</label>
        <input type="text" id="nombre" class="form-control" placeholder="Escribe el nombre completo del proveedor">
    </div>   
    <div class="form-group">
        <label for="direccion">Dirección del proveedor</label>
        <input type="text" id="direccion" class="form-control" placeholder="Escribe la direccion del proveedor">
    </div>   
    <div class="form-group">
        <label for="colonia">Colonia del proveedor</label>
        <input type="text" id="colonia" class="form-control" placeholder="Escribe la colonia del proveedor">
    </div>
    <div class="form-group">
        <label for="telefono">Teléfono del proveedor</label>
        <input type="tel" id="telefono" class="form-control" placeholder="Escribe la telefono del proveedor">
    </div>   
    <div class="form-group">
        <label for="poblacion">Población del proveedor</label>
        <input type="text" id="poblacion" class="form-control" placeholder="Escribe la poblacion del proveedor">
    </div>   
    <div class="form-group">
        <label for="estado">Estado del proveedor</label>
        <input type="text" id="estado" class="form-control" placeholder="Escribe la estado del proveedor">
    </div>
    <div class="form-group">
        <label for="saldo">Saldo de pago del proveedor</label>
        <input type="number" id="saldo" class="form-control" placeholder="0.00">
    </div>
    <br>
    
    <br>
    <button class="btn btn-outline-danger btn-block" id="gcte">
        <i class="fas fa-hdd"></i> Guardar datos
    </button>

<script>
    $(document).ready( ( ) => {
        $('#ventana').on('shown.bs.modal',  ( ) => {
            $('#razon').focus();
        });

        $('#gcte').on('click', ( ) => {
            guardar_datos_pr(0, 0);
        });
    });
</script>