<br>
<div class="container-fluid">
    <h1 class="display-4">
        <i class="fa-solid fa-chart-pie"></i> Reportes de Inventario
    </h1>
    <hr class="display-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rptinvgral">
                    <i class="far fa-boxes"></i> Inventario general
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rptinvclasif">
                    <i class="fas fa-layer-group"></i> Inventario por clasificación
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rptinvmarca">
                    <i class="far fa-registered"></i> Inventario por marcas
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rptvalcosto">
                    <i class="fas fa-money-bill-wave"></i> Valuación Ultimo Costo
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rptinvsurtir">
                    <i class="fas fa-shopping-bag"></i> Reporte para surtir
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rptinvexist">
                    <i class="fas fa-sort-amount-down"></i> Reporte Existencias
                </button>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>

<script src="actions/reportes/inventario.js"></script>
