<br>
<div class="container-fluid">
    <h1 class="display-4">
        <i class="fal fa-clipboard-list-check"></i> Reportes de Pedidos
    </h1>
    <hr class="display-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rptpeduser">
                    <i class="fas fa-user-check"></i> Pedidos por usuario
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rptpedprod">
                    <i class="fas fa-layer-group"></i> Pedidos por producto
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rptpedper">
                    <i class="fas fa-money-bill-wave"></i> Pedidos por período
                </button>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>
