<br>
<div class="container-fluid">
    <h1 class="display-4">
        <i class="fa-duotone fa-coins"></i> Reportes de Ventas 
    </h1>
    <hr class="display-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rptvtauser">
                    <i class="fas fa-street-view"></i> Ventas por usuario
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rptvtafecha">
                    <i class="fal fa-calendar-check"></i> Ventas por período
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rptvtasuc">
                    <i class="fas fa-store-alt"></i> Ventas por sucursal
                </button>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>

<script src="actions/reportes/rptvta.js"></script>
