<br>
<div class="container-fluid">
    <h1 class="display-4">
        <i class="fal fa-people-carry"></i> Reportes de Traspasos
    </h1>
    <hr class="display-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rpttrasuser">
                    <i class="fas fa-street-view"></i> Traspasos por usuario
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rpttrasper">
                    <i class="fal fa-calendar-check"></i> Traspasos por período
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-danger btn-block my-3" id="rpttrassuc">
                    <i class="fas fa-store-alt"></i> Traspasos por sucursal
                </button>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>
